<%= form_tag(create_qr_payment_path, class: 'form-group') do %>
  <%= label_tag(:quantity, "Quantidade de QRs:") %>
  <%= text_field_tag(:quantity) %>
  <%= submit_tag("Enviar") %>
<% end %>
<table>
  <tr>
    <th>ID Venda</th>
    <th>Preço</th>
    <th>Total</th>
    <th>Status da Venda</th>
  </tr>
<% @sales.each do |sale|%>
  <tr>
    <td><%= sale.id %></td>
    <td><%= sale.price %></td>
    <td><%= sale.total %></td>
    <td><%= sale.status %></td>
  </tr>
<% end %>
</table>
